@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --color-light-gray: #F0F0F0;
  --color-off-white: #FAFAFA;
  --color-charcoal: #171717;
  --color-charcoal-light: #17171705;
  --color-bright-blue: #2B7FFF;
  --color-dark-gray: #424242;
  --color-overlay-dark: #121212;
  --color-warm-brown: #7F6E66;
  --radius-medium: 2.44px;
  --font-fragment: "Fragment Mono", monospace;
  --font-inter: 'Inter', sans-serif;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NeueMontreal", sans-serif;
}
.fragment-mono-regular {
  font-family: var(--font-fragment);
  font-weight: 400;
  font-style: normal;
}
.font-inter {
  font-family: var(--font-inter);
}
.liquid-glass-button {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  will-change: transform;
  transition: transform 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

  &:hover {
    transform: scale(1.2);
  }

  .inner {
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    padding: 1rem 2rem;
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.4),
      inset -1px -1px 1px 1px rgba(255, 255, 255, 0.4);
  }
}
