@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --color-light-gray: #F0F0F0;
  --color-off-white: #FAFAFA;
  --color-charcoal: #171717;
  --color-charcoal-light: #17171705;
  --color-bright-blue: #2B7FFF;
  --color-dark-gray: #424242;
  --color-overlay-dark: #121212;
  --color-warm-brown: #7F6E66;
  --radius-medium: 2.44px;
  --font-fragment: "Fragment Mono", monospace;
  --font-inter: 'Inter', sans-serif;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NeueMontreal", sans-serif;
}
.fragment-mono-regular {
  font-family: var(--font-fragment);
  font-weight: 400;
  font-style: normal;
}
.font-inter {
  font-family: var(--font-inter);
}
.liquid-glass-button {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  will-change: transform;
  transition: transform 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

  &:hover {
    transform: scale(1.2);
  }

  .inner {
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    padding: 1rem 2rem;
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.4),
      inset -1px -1px 1px 1px rgba(255, 255, 255, 0.4);
  }
}

@layer components {
  .hero-main-container {
    @apply relative pt-[clamp(1.5rem,2.97vw,42.91px)] px-[clamp(1rem,6.59vw,94.98px)] max-xl:px-10 max-[1024px]:px-6 max-md:px-4 pb-[clamp(2rem,4.16vw,60px)];
  }

  .hero-title {
    @apply mt-[clamp(20px,2.73vw,39.38px)] text-[clamp(4rem,18.05vw,259.96px)] bg-linear-to-t to-white from-white/0 bg-clip-text text-transparent uppercase font-semibold leading-[100%] text-center will-change-transform;
  }

  @media (max-width: 1023px) {
    .hero-title {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
    }
  }
  
  .hero-glow-blob {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[clamp(300px,41.6vw,600px)] h-[clamp(150px,20.8vw,300px)] bg-white/5 rounded-[50%] blur-[80px];
  }

  .glass-card-outer {
    @apply relative bg-white/60 backdrop-blur-[20px] border border-white/60 rounded-[16.99px] shadow-[inset_1px_1px_1px_rgba(255,255,255,0.6),0_8px_32px_rgba(0,0,0,0.04)] w-fit p-[12.74px];
  }

  .glass-card-icon-container {
    @apply rounded-[28.25px] rounded-tr-none rounded-bl-none size-[94.16px] grid place-items-center relative z-10 bg-white/40 backdrop-blur-xl shadow-[inset_4px_4px_10px_rgba(255,255,255,1),inset_-4px_-4px_10px_rgba(0,0,0,0.05),0_8px_20px_rgba(0,0,0,0.04)];
  }

  .glass-card-inner-overlay {
    @apply absolute inset-0 w-[200%] h-full bg-gradient-to-r from-transparent via-white/30 to-transparent skew-x-12;
  }

  .hero-arrow-left {
    @apply absolute top-1/2 -translate-y-1/2 -bottom-4 -right-43 -z-20 max-lg:hidden origin-left max-xl:scale-[0.8] max-xl:-right-24;
  }

  .hero-arrow-right {
    @apply absolute top-1/2 -translate-y-1/2 -bottom-20 -left-51 -z-20 max-lg:hidden origin-right max-xl:scale-[0.8] max-xl:-left-32;
  }
}
